<h2>Importamos las librerías necesarias</h2>

In [1]:
import pandas as pd
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import os
from subprocess import check_output
import base64
import urllib.parse
#from wordcloud import WordCloud, STOPWORDS

<h2>Llamada a la api de idealista para obtener el token oauth</h2>
Hay que renovar este token ya que tiene una vigencia de 12 horas

In [ ]:
# Concatenamos apiKey y secret con ":"
url_encoded_keys = 'w7n6k9wc0havhutg7d4gxrd3jdnvr3a3:55AE7QKcrhVe'

# Hay que codificar el resultado en Base64
base64_keys = base64.b64encode(url_encoded_keys.encode("utf-8")).decode("utf-8")

# Definimos los headers para la llamada al endpoint de oauth
headers = {
    "Authorization": f"Basic {base64_keys}",
    "Content-Type": "application/x-www-form-urlencoded"
}
# Definimos el cuerpo para 
body = {
    "grant_type": "client_credentials",
    "scope": "read"
}

get_oauth_token_url = 'https://api.idealista.com/oauth/token'
oauth_token_response = requests.post(url= get_oauth_token_url ,headers= headers, data= body)

In [5]:
# Con el token almacenado en una variable
'''
{
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJyZWFkIl0sImV4cCI6MTc2NjIxMTczMSwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QVUJMSUMiXSwianRpIjoiMDY4MTNiNDctN2U1Yy00NjFiLTg4ZTMtYjk4NzllNWM5MjE3IiwiY2xpZW50X2lkIjoidzduNms5d2MwaGF2aHV0ZzdkNGd4cmQzamRudnIzYTMifQ.4Bs20yEvt3MchnhsKDqIYKRv2Wpiy76iRoV1ejVMVAs",
    "token_type": "bearer",
    "expires_in": 43199,
    "scope": "read",
    "jti": "06813b47-7e5c-461b-88e3-b9879e5c9217"
}
'''
access_token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJyZWFkIl0sImV4cCI6MTc2NjIxMTczMSwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QVUJMSUMiXSwianRpIjoiMDY4MTNiNDctN2U1Yy00NjFiLTg4ZTMtYjk4NzllNWM5MjE3IiwiY2xpZW50X2lkIjoidzduNms5d2MwaGF2aHV0ZzdkNGd4cmQzamRudnIzYTMifQ.4Bs20yEvt3MchnhsKDqIYKRv2Wpiy76iRoV1ejVMVAs"

In [29]:
idealista_base_url = 'https://api.idealista.com/3.5/'
spain_search_endpoint = 'es/search'

params = {
    "operation": "rent", # Valores de 'sale' para venta o 'rent' para alquiler
    "propertyType": "homes", # values: homes (casas), offices (oficinas/locales), premises (instalaciones), garages, bedrooms (habitaciones)
    "locale": "es", # Idioma del resultado de búsqueda
    "language": "es",
    "locationId" : "0-EU-ES-28",
    "apikey": "w7n6k9wc0havhutg7d4gxrd3jdnvr3a3"
    
}
headers = {
    "Authorization": f"Bearer {access_token}",
    "Accept": "application/json",
    "Content-Type": "application/x-www-form-urlencoded"
}
url_idealista = idealista_base_url+spain_search_endpoint
response_idealista = requests.post(url_idealista,headers= headers,data=params, params=params)

In [30]:
print("URL:",response_idealista.url,"\nStatus:",response_idealista.status_code,"\nResponse:",response_idealista)

print("Status: ",response_idealista.status_code)

URL: https://api.idealista.com/3.5/es/search?operation=rent&propertyType=homes&locale=es&language=es&locationId=0-EU-ES-28&apikey=w7n6k9wc0havhutg7d4gxrd3jdnvr3a3
Status: 406
Response: <Response [406]>
Status:  406

In [2]:
from pathlib import Path
import re

DATA_DIR = Path("Datos_Naza") / "Airbnb_2025"

In [12]:
df = pd.read_csv("Datos_Naza/Airbnb_2025/listings_2025_03_05.csv.gz", low_memory=False)

df.shape

(25288, 79)

In [13]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25288 entries, 0 to 25287
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            25288 non-null  int64
 1   listing_url                                   25288 non-null  object
 2   scrape_id                                     25288 non-null  int64
 3   last_scraped                                  25288 non-null  object
 4   source                                        25288 non-null  object
 5   name                                          25288 non-null  object
 6   description                                   24375 non-null  object
 7   neighborhood_overview                         11218 non-null  object
 8   picture_url                                   25287 non-null  object
 9   host_id                                       25288 non-null  int64
 10  host_url                                      25288 non-null  object
 11  host_name                                     25269 non-null  object
 12  host_since                                    25269 non-null  object
 13  host_location                                 17669 non-null  object
 14  host_about                                    12763 non-null  object
 15  host_response_time                            19995 non-null  object
 16  host_response_rate                            19995 non-null  object
 17  host_acceptance_rate                          21240 non-null  object
 18  host_is_superhost                             24496 non-null  object
 19  host_thumbnail_url                            25269 non-null  object
 20  host_picture_url                              25269 non-null  object
 21  host_neighbourhood                            8588 non-null   object
 22  host_listings_count                           25269 non-null  float64
 23  host_total_listings_count                     25269 non-null  float64
 24  host_verifications                            25269 non-null  object
 25  host_has_profile_pic                          25269 non-null  object
 26  host_identity_verified                        25269 non-null  object
 27  neighbourhood                                 11218 non-null  object
 28  neighbourhood_cleansed                        25288 non-null  object
 29  neighbourhood_group_cleansed                  25288 non-null  object
 30  latitude                                      25288 non-null  float64
 31  longitude                                     25288 non-null  float64
 32  property_type                                 25288 non-null  object
 33  room_type                                     25288 non-null  object
 34  accommodates                                  25288 non-null  int64
 35  bathrooms                                     19270 non-null  float64
 36  bathrooms_text                                25263 non-null  object
 37  bedrooms                                      22737 non-null  float64
 38  beds                                          19262 non-null  float64
 39  amenities                                     25288 non-null  object
 40  price                                         19274 non-null  object
 41  minimum_nights                                25288 non-null  int64
 42  maximum_nights                                25288 non-null  int64
 43  minimum_minimum_nights                        25288 non-null  int64
 44  maximum_minimum_nights                        25288 non-null  int64
 45  minimum_maximum_nights                        25288 non-null  int64
 46  maximum_maximum_nights                        25288 non-null  int64
 47  minimum_nights_avg_ntm                        25288 non-null  float64
 48  maximum_nights_avg_ntm                        25288 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              23811 non-null  object
 51  availability_30                               25288 non-null  int64
 52  availability_60                               25288 non-null  int64
 53  availability_90                               25288 non-null  int64
 54  availability_365                              25288 non-null  int64
 55  calendar_last_scraped                         25288 non-null  object
 56  number_of_reviews                             25288 non-null  int64
 57  number_of_reviews_ltm                         25288 non-null  int64
 58  number_of_reviews_l30d                        25288 non-null  int64
 59  availability_eoy                              25288 non-null  int64
 60  number_of_reviews_ly                          25288 non-null  int64
 61  estimated_occupancy_l365d                     25288 non-null  int64
 62  estimated_revenue_l365d                       19274 non-null  float64
 63  first_review                                  20091 non-null  object
 64  last_review                                   20091 non-null  object
 65  review_scores_rating                          20091 non-null  float64
 66  review_scores_accuracy                        20091 non-null  float64
 67  review_scores_cleanliness                     20090 non-null  float64
 68  review_scores_checkin                         20090 non-null  float64
 69  review_scores_communication                   20091 non-null  float64
 70  review_scores_location                        20088 non-null  float64
 71  review_scores_value                           20087 non-null  float64
 72  license                                       2978 non-null   object
 73  instant_bookable                              25288 non-null  object
 74  calculated_host_listings_count                25288 non-null  int64
 75  calculated_host_listings_count_entire_homes   25288 non-null  int64
 76  calculated_host_listings_count_private_rooms  25288 non-null  int64
 77  calculated_host_listings_count_shared_rooms   25288 non-null  int64
 78  reviews_per_month                             20091 non-null  float64
dtypes: float64(19), int64(24), object(36)
memory usage: 15.2+ MB

In [16]:
cols_keep = [
    "id",
    "last_scraped",
    "neighbourhood_group_cleansed",
    "neighbourhood_cleansed",
    "latitude",
    "longitude",
    "room_type",
    "property_type",
    "accommodates",
    "bedrooms",
    "bathrooms_text",
    "price",
    "minimum_nights",
    "availability_365",
    "number_of_reviews"
]

In [19]:
df_15 = df[cols_keep].copy()

df_15

,id,last_scraped,neighbourhood_group_cleansed,neighbourhood_cleansed,latitude,longitude,room_type,property_type,accommodates,bedrooms,bathrooms_text,price,minimum_nights,availability_365,number_of_reviews
0,21853,2025-03-11,Latina,Cármenes,40.403810,-3.741300,Private room,Private room in rental unit,1,1.0,1 bath,$29.00,4,233,33
1,30320,2025-03-10,Centro,Sol,40.414760,-3.704180,Entire home/apt,Entire rental unit,2,1.0,1 bath,NaN,5,0,172
2,30959,2025-03-10,Centro,Embajadores,40.412590,-3.701050,Entire home/apt,Entire loft,2,1.0,1 bath,NaN,3,0,8
3,40916,2025-03-10,Centro,Universidad,40.422470,-3.705770,Entire home/apt,Entire rental unit,3,1.0,1 bath,NaN,5,0,49
4,62423,2025-03-12,Centro,Justicia,40.418840,-3.696550,Private room,Private room in rental unit,4,1.0,1.5 shared baths,$77.00,1,298,227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25283,1368985680426539467,2025-03-12,Hortaleza,Canillas,40.464110,-3.647130,Entire home/apt,Entire rental unit,3,1.0,1 bath,$103.00,2,0,0
25284,1368986418960986344,2025-03-05,Carabanchel,San Isidro,40.395983,-3.730953,Entire home/apt,Entire rental unit,5,2.0,1 bath,$100.00,5,365,0
25285,1368991577357063431,2025-03-10,Carabanchel,San Isidro,40.395621,-3.731533,Entire home/apt,Entire rental unit,3,1.0,1 bath,$66.00,5,3,0
25286,1369034696848967860,2025-03-07,Carabanchel,Abrantes,40.383990,-3.727290,Shared room,Shared room in rental unit,1,1.0,1 shared bath,$16.00,1,71,0
25287,1369048563458420692,2025-03-07,Carabanchel,Abrantes,40.382994,-3.728070,Shared room,Shared room in rental unit,1,1.0,1 shared bath,$16.00,1,0,0

In [20]:
df_15[["latitude", "longitude"]].describe()

           latitude     longitude
count  25288.000000  25288.000000
mean      40.421572     -3.693851
std        0.023441      0.027972
min       40.331400     -3.883990
25%       40.409288     -3.707420
50%       40.420382     -3.700932
75%       40.431617     -3.684771
max       40.577290     -3.545904

In [21]:
by_neigh_dist = (
    df_15
    .groupby(["neighbourhood_group_cleansed", "neighbourhood_cleansed"])
    .size()
    .reset_index(name="n_listings")
    .sort_values("n_listings", ascending=False)
)

by_neigh_dist.head(15)

    neighbourhood_group_cleansed neighbourhood_cleansed  n_listings
20                        Centro            Embajadores        2801
24                        Centro            Universidad        2240
22                        Centro                Palacio        1818
23                        Centro                    Sol        1326
21                        Centro               Justicia        1272
19                        Centro                 Cortes        1042
35                      Chamberí              Trafalgar         517
6                     Arganzuela        Palos de Moguer         438
94                     Salamanca                   Goya         413
110                       Tetuán         Cuatro Caminos         393
95                     Salamanca             Guindalera         378
68             Moncloa - Aravaca              Argüelles         371
66                        Latina       Puerta del Angel         340
91                        Retiro               Pacífico         323
97                     Salamanca              Recoletos         319

In [23]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25288 entries, 0 to 25287
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            25288 non-null  int64
 1   last_scraped                  25288 non-null  object
 2   neighbourhood_group_cleansed  25288 non-null  object
 3   neighbourhood_cleansed        25288 non-null  object
 4   latitude                      25288 non-null  float64
 5   longitude                     25288 non-null  float64
 6   room_type                     25288 non-null  object
 7   property_type                 25288 non-null  object
 8   accommodates                  25288 non-null  int64
 9   bedrooms                      22737 non-null  float64
 10  bathrooms_text                25263 non-null  object
 11  price                         19274 non-null  object
 12  minimum_nights                25288 non-null  int64
 13  availability_365              25288 non-null  int64
 14  number_of_reviews             25288 non-null  int64
dtypes: float64(3), int64(5), object(7)
memory usage: 2.9+ MB